.hero {
  @apply w-full flex gap-x-20 py-20 px-10;
}

.hero .left {
  @apply max-w-screen-md flex flex-col gap-y-5 justify-center;
}

.hero .right {
  @apply flex-1 min-w-96;
}

.hero .heading-text {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.43)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 75px;
  font-weight: bold;
  line-height: 85px;
}

.glass {
  @apply flex items-center justify-center w-full flex-1 flex-col p-5 rounded-xl gap-y-2;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px rgba(255, 255, 255, 0.08) solid;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hero .tabs {
  @apply h-12 rounded-full flex items-center w-full p-1 gap-x-1 mb-2;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px rgba(255, 255, 255, 0.08) solid;
}

.hero .tabs .tab-selector {
  @apply flex h-full rounded-full items-center justify-center px-4 transition-colors w-full gap-x-2;
}
.hero .tabs .tab-selector.active,
.hero .tabs .tab-selector:hover {
  background-color: #171719;
}

.hero .tabs .tab-selector.active:hover {
  background-color: #0e0e10;
}

.main-section {
  @apply flex-1 w-full;
}

.main-section .comments {
  @apply bg-black rounded-lg w-full flex-1;
}

.comments .comment {
  @apply flex px-4 gap-x-2 py-2;
}

.comments .comment.our {
  @apply ml-8;
}

.comments .comment .avatar {
  @apply size-12 rounded-full;
  background-size: cover;
}

.comments .comment .texts {
  @apply flex flex-col w-full;
}
.comments .comment .name-section {
  @apply flex gap-x-2 items-baseline;
}

.comments .comment .name {
  @apply text-lg font-semibold;
}

.comments .comment .now {
  @apply text-xs;
  color: #bdbdc0;
}

.comments .comment .reply {
  @apply text-xs;
  color: #bdbdc0;
}

.comments .comment .heart-section {
  @apply flex flex-col items-center text-xs;
  color: #bdbdc0;
}
.comments .comment .heart-section i {
  @apply text-2xl;
}

.comments .comment .tag {
  @apply text-blue-500;
}
