.hero {
  @apply w-full flex gap-x-20 py-20 px-20 relative justify-around;
  background: url("assets/solar-system.png");
  /* background-position: right center; */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.hero .left {
  @apply flex flex-col gap-y-5 justify-center max-w-2xl;
}

.hero .right {
  @apply flex-1 max-w-xl w-full;
}

.heading-text {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgba(16, 16, 16, 0.43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 75px;
  font-weight: bold;
  line-height: 85px;
}

.glass {
  @apply flex items-center justify-center w-full flex-1 flex-col p-5 rounded-xl gap-y-2;
  background-color: var(--dark-alpha);
  border: 1px var(--dark-alpha) solid;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hero .tabs {
  @apply h-12 rounded-full flex items-center w-full p-1 gap-x-1 mb-2;
  background-color: var(--dark-alpha);
  border: 1px var(--dark-alpha) solid;
}

.hero .tabs .tab-selector {
  @apply flex h-full rounded-full items-center justify-center px-4 transition-colors w-full gap-x-2;
}
.hero .tabs .tab-selector.active,
.hero .tabs .tab-selector:hover {
  background-color: var(--dark);
  color: var(--dark-foreground);
}

.hero .tabs .tab-selector.active:hover {
  background-color: var(--dark-hover);
  color: var(--dark-hover-foreground);
}

.main-section {
  @apply flex-1 w-full;
}

.main-section div {
  @apply relative opacity-100;
}

.main-section div.active {
  @apply absolute opacity-0;
}

.main-section .comments {
  @apply rounded-lg w-full flex-1;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.comments .comment {
  @apply flex px-4 gap-x-2 py-2;
}

.comments .comment.our {
  @apply ml-8;
}

.comments .comment .avatar {
  @apply size-12 rounded-full;
  background-size: cover;
}

.comments .comment .texts {
  @apply flex flex-col w-full;
}
.comments .comment .name-section {
  @apply flex gap-x-2 items-baseline;
}

.comments .comment .name {
  @apply text-lg font-semibold;
}

.comments .comment .now {
  @apply text-xs;
  color: #bdbdc0;
}

.comments .comment .reply {
  @apply text-xs;
  color: #bdbdc0;
}

.comments .comment .heart-section {
  @apply flex flex-col items-center text-xs;
  color: #bdbdc0;
}
.comments .comment .heart-section i {
  @apply text-2xl;
}

.comments .comment .tag {
  @apply text-blue-500;
}

.main-section .messages .message {
  @apply flex gap-x-2 items-center my-4;
}
.main-section .messages .message img {
  @apply size-8;
}
.main-section .messages .message p {
  @apply px-4 py-2 rounded-lg rounded-bl-none max-w-sm;
  background-color: rgba(0, 0, 0, 0.1);
}
.main-section .messages .message.mine {
  @apply justify-end;
}
.main-section .messages .message.mine p {
  @apply rounded-bl-lg rounded-br-none text-white;
  background: linear-gradient(90deg, #7342ff, #9047de);
}

.demo {
  @apply flex flex-col py-20 px-20 items-center;
}

.demo .title {
  @apply flex flex-col max-w-2xl text-center gap-y-5 items-center;
}
